<!DOCTYPE HTML>

<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/about_us.css" />

	</head>
	<body class="is-preload">


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<div id="avatar">
							<span class="avatar"><img src="/static/css/images/me.jpg" style="width:300px;height:auto;" alt="" /></span>
							</div>
							<p>Developer</p>
							<h1>Ronit Aryan</h1>
							<p>
								<h2>Student</h2>
								A pinch of peculiarity, a dash of smartness and a barrel of curiosity.
							</p>
						</header>

						<footer>
							<ul class="icons">
								<!--li><a href="#" class="fa-twitter">Twitter</a></li-->
								<li><a href="https://www.instagram.com/codebloodedrex/?hl=en" class="fa-instagram">Instagram</a></li>
								<li><a href="https://www.facebook.com/profile.php?id=100014883097319" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<!--<footer id="footer">-->
					<!--	<ul class="icons">-->
					<!--		<li><a href="/" >Home</a></li>-->
					<!--		<p>Home</p>-->
					<!--	</ul>-->

					<!--	</footer>-->

			</div>

			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<div id="avatar">
							<span class="avatar"><img src="/static/css/images/matthew-henry-58760-unsplash.jpg" style="width:300px;height:auto;" alt="" /></span>
							</div>
							<p>Assistant Developer</p>
							<h1>Divesh Singh</h1>
							<p>
								<h2>Student</h2>
								I am a potato.
							</p>
						</header>

						<footer>
							<ul class="icons">
								<!--li><a href="#" class="fa-twitter">Twitter</a></li-->
								<li><a href="https://www.instagram.com/codebloodedrex/?hl=en" class="fa-instagram">Instagram</a></li>
								<li><a href="https://www.facebook.com/profile.php?id=100014883097319" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="/" >Home</a></li>
							<p>Home</p>
						</ul>

						</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>