<!DOCTYPE HTML>

<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/index.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">



			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="/">Home</a></li>
						<li><a href="/share">Share</a></li>
						<li><a href="/remove">Remove</a></li>
						<li><a href="/about_us">About Us</a></li>
						<li><a href="/logout">Log Out</a></li>
<div class="index_form">
<form action="/" method="post" id="signup-form">
					<input name="search" type="text" placeholder="Search..">

					 <select name="sby" autofocus class="form-control">
<option disabled selected value="">Search by</option>
			<option value="n">Title</option>
			<option value="a">Author</option>
			<option value="c">Class</option>
			<option value="t">Type</option>
			<option value="s">Subject</option>
</select>

					<button class="current" type="submit" value="Register">Search</button>
					</form>
</div>
					</ul>



				</nav>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<h2>Welcome to ShareMyBooks</h2>
						<p>A website where you can sell / donate your books and save trees. <br>
						They really are important you know.
						</p>
					</div>
				</section>



								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span></span></h2>
										<div>
											<div class="row">

												<div class="row">

												{% for row in rows %}



												{% if loop.index0 % 4 == 0 %}


												</div>
												<div class="row">

												{% endif %}

												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<a href="/{{ row["bookname"] }}" class="image featured"><img src="/static/images/{{ row["img_name"] }}" alt="" /></a>
															<h3><a href="/{{ row["bookname"] }}">{{ row["bookname"] }}</a></h3>
															<p>
																by {{ row["author"] }}
															</p>
														</section>
														</div>
												{% endfor %}

												</div>



										</div>
									</section>

							</div>






			<!-- Footer -->
				<footer id="footer">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">



							</div>
							<div class="col-12">

								<!-- Contact -->
									<section>
										<h2 class="major"><span></span></h2>
										<!--ul class="contact">
											<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
											<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
											<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
											<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
											<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
										</ul-->
									</section>

							</div>
						</div>



					</div>
				</footer>

		</div>

		<!-- Scripts -->

			<script src="static/js/index.js"></script>

	</body>
</html>