<!DOCTYPE HTML>

<html>
	<head>
		<title>Share</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/index.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<header id="header">

			</header>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="/">Home</a></li>
						<li><a href="/share">Share</a></li>
						<li><a href="/remove">Remove</a></li>
						<li><a href="/about_us">About Us</a></li>
						<li><a href="/logout">Log Out</a></li>


					</ul>



				</nav>

<br>

<form action="/share" method="post" id="signup-form" >



        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="book" placeholder="Book Name" type="text"/>
        </div>

         <div class="form-group">

            <input autocomplete="off" autofocus class="form-control" name="author" placeholder="Author Name" type="text"/>
        </div>

         <div class="form-group">

             <select name="type" autofocus class="form-control">
            <option disabled selected value="">Type</option>
                        <option value="Academic">Academic</option>
                        <option value="Novel">Novel</option>
                        <option value="Magazine">Magazine</option>
            </select>

        </div>

        <div class="form-group">

             <select name="subject" autofocus class="form-control">
            <option disabled selected value="">Subject</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Science">Science</option>
                        <option value="Literature">Literature</option>
                        <option value="SSC">Social Science</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Other">Other</option>
            </select>

        </div>

        <div class="form-group">

             <select name="class" autofocus class="form-control">
            <option disabled selected value="">Class</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
            </select>

        </div>
        <br>

         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cost" placeholder="Cost (in Rs)" type="text"/>
        </div>

         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="mobile" placeholder="Mobile" type="text"/>
        </div>

         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email"/>
        </div>

         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="city" placeholder="city" type="text"/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="state" placeholder="State" type="text"/>
        </div>

<br>
<select name="class" autofocus class="form-control">
            <option disabled selected value="">Please provide a picture</option>
            </select>

        <div class="form-group">
            <input type ="file" autofocus class="form-control" placeholder="Picture" name = "photo" accept="image/*">
        </div>

<br>

        <div class="buttonn">
        <button class="current" type="submit">Issue</button>
        </div>
    </form>

				<!-- Footer -->
				<footer id="footer">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">



							</div>
							<div class="col-12">

								<!-- Contact -->
									<section>
										<h2 class="major"><span></span></h2>
										<!--ul class="contact">
											<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
											<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
											<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
											<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
											<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
										</ul-->
									</section>

							</div>
						</div>



					</div>
				</footer>

		</div>

		<!-- Scripts -->

			<script src="static/js/index.js"></script>

	</body>
</html>